<!DOCTYPE html>
<html>
	<head>
		<meta charaset="UTF-8">
		<title>Vue.js sample</title>
		<!-- <linl rel="stylesheet" href="style.css"> -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>

	<body>
		<h2>入力した文字列を表示</h2>
		<div id="app">
      <input v-model="myName" placeholder="お名前">
			<p>私は、{{ myName }}です</p>
		</div>

		<h2>入力した文章と文字数を表示</h2>
		<div id="app2">
      <textarea v-model="myText"></textarea>
			<p>文章は、{{ myText }}</p>
			<p>{{ myText.length }}文字</p>
		</div>

		<h2>チェックボックスのON/OFFを調べる例</h2>
		<div id="app3">
      <label><input type="checkbox" v-model="myCheck">
			チェックボックスは、{{ myCheck }}</label>
		</div>

		<h2>複数のチェックボックスのON/OFFを調べる例</h2>
		<div id="app4">
			<label><input type="checkbox" value="red" v-model="myChecks">赤</label><br>
			<label><input type="checkbox" value="green" v-model="myChecks">緑</label><br>
			<label><input type="checkbox" value="blue" v-model="myChecks">青</label><br>

			選択したのは{{ myChecks }}
		</div>

		<h2>ボタンの有効無効をデータで指定する</h2>
		<div id="app5">
      <label><input type="checkbox" v-model="myAgree">
			同意します </label>

			<button v-bind:disabled="myAgree==false">送信</button>
		</div>

		<script>
			new Vue({
				el:'#app',
				data:{
					myName:'',
				}
			})

			new Vue({
				el:'#app2',
				data:{
					myText:'今日はきっといい天気',
				}
			})

			new Vue({
				el:'#app3',
				data:{
					myCheck: false,
				}
			})

			new Vue({
				el:'#app4',
				data:{
					myChecks: [],
				}
			})

			new Vue({
				el:'#app5',
				data:{
					myAgree: false,
				}
			})
		</script>
	</body>
</html>