<!DOCTYPE html>
<html>
	<head>
		<meta charaset="UTF-8">
		<title>Vue.js sample</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	</head>

	<body>
		<h1>Chapter7</h1>

    <h2>GoogleChartsで円グラフにボタンで投票できる</h2>
    <h3>好きなランチ投票</h3>
    <div id="chart_div" style="height: 500px;"></div>
    <script>
      // グラフに使うデータ
      var orgdata = [
        ['種類', '個数'],
        ['幕の内', 3],['カルビ弁当', 4],['オムライス', 5],
        ['冷やし中華', 1],['ビビンバ丼', 3],['ざるそば', 1],
      ];

      google.charts.load('current', {packages:['corechart']});
      google.charts.setOnLoadCallback(drawBasic);

      // グラフを表示する関数
      function drawBasic(){
        var data = google.visualization.arrayToDataTable(orgdata);
        console.log(data);
        // var options = {title:'好きなランチ',"is3D":true};
        var chart = new google.visualization.PieChart(
          document.getElementById('chart_div'));
          chart.draw(data);
      }
    </script>
    
    <div id="app">
      <li v-for="(item, c) in dataArray" v-if="c>0">{{item[0]}} : {{item[1]}}
        <button v-on:click="addOne(c)">一票</button>
      </li>
    </div>

		<script>
      new Vue({
        el:'#app',
        data: {
          dataArray:orgdata
        },
        methods: {
          addOne: function(val) {
            var obj = this.dataArray[val];
            obj[1]++;
            this.dataArray.splice(val, 1, obj);
            drawBasic();
          }
        }
      });
		</script>
	</body>
</html>